{% extends 'base.html.twig' %}

{% block body %}

<h2>Liste des Membres</h2>

<a href="/user/new" class="btn btn-success mb-3">Ajouter</a>

<table class="table table-bordered">
<tr>
<th>ID</th>
<th>Nom</th>
<th>Email</th>
</tr>

{% for user in users %}
<tr>
<td>{{ user.id }}</td>
<td>{{ user.nom }}</td>
<td>{{ user.email }}</td>
</tr>
{% endfor %}

</table>

{% endblock %}